<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">
  <head prefix="og: http://ogp.me/ns# {% if article %}article: http://ogp.me/ns/article#{% endif%}">
    {% block head %}
      <meta charset="UTF-8">
      <meta name="generator" content="Pelican {{ PELICAN_VERSION }}">
      <meta name="viewport" content="width=device-width">
      <meta name="msapplication-TileImage" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cropped-favicon-270x270.png">
      <meta property="og:site_name" content="{{ SITENAME }}">
      {% block extra_head %}
        {% set SITE_DESCRIPTION = _('Tutoriales, noticias, críticas sobre software libre, GNU con Linux, desarrollo web, cultura libre... Con independencia y un punto de vista crítico, con programas libres y respetando la privacidad.') %}
        <meta name="description" content="{{ SITE_DESCRIPTION }}">
        <meta name="keywords" content="{{ _('software libre,libertad,libertad de expresión,privacidad,formación,tutoriales,guías,GNU/Linux,desarrollo web,Trisquel') }}">
        <meta property="og:title" content="{{ SITENAME }}">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cropped-favicon-270x270.png">
        <meta property="og:url" content="{{ SITEURL }}">
        <meta property="og:description" content="{{ SITE_DESCRIPTION }}">
      {% endblock %}
      <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
      {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{% trans %}Fuente de entradas Atom completa de {{ SITENAME }}{% endtrans %}">
      {% endif %}
      {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{% trans %}Fuente completa de entradas RSS de {{ SITENAME }}{% endtrans %}">
      {% endif %}
      {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{% trans %}Fuente Atom de {{ SITENAME }}{% endtrans %}">
      {% endif %}
      {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{% trans %}Fuente RSS de {{ SITENAME }}{% endtrans %}">
      {% endif %}
      {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{% trans %}Fuente de categorías Atom de {{ SITENAME }}{% endtrans %}">
      {% endif %}
      {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}" type="application/rss+xml" rel="alternate" title="{% trans %}Fuente RSS de categorías de {{ SITENAME }}{% endtrans %}">
      {% endif %}
      {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM.format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate" title="{% trans %}Fuente Atom de etiquetas de {{ SITENAME }}{% endtrans %}">
      {% endif %}
      {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS.format(slug=tag.slug) }}" type="application/rss+xml" rel="alternate" title="{% trans %}Fuente RSS de etiquetas de {{ SITENAME }}{% endtrans %}">
      {% endif %}
      {% if TRANSLATION_FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ TRANSLATION_FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ _('Fuente Atom de %(nombre_sitio_web)s', nombre_sitio_web=SITENAME) }}" />
      {% endif %}
      <link rel="icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cropped-favicon-32x32.png" sizes="32x32">
      <link rel="icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cropped-favicon-192x192.png" sizes="192x192">
      <link rel="apple-touch-icon-precomposed" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cropped-favicon-180x180.png">
      <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css">
      <link rel="stylesheet" id="genericons-css"  href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/genericons/genericons.css?ver=3.2" type="text/css">
      <link rel="stylesheet"  href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/fontello-translation-icon/css/fontello.css" type="text/css">
      <link rel="author" href="{{ SITEURL }}/{{ AUTHORS_URL }}">
      <link rel="license" hreflang="{{ DEFAULT_LANG }}" href="https://creativecommons.org/publicdomain/zero/1.0/deed.{{ DEFAULT_LANG }}">
      <script src="{{ SITEURL}}/{{ THEME_STATIC_DIR }}/js/jquery-3.1.1.min.js"></script>
    {% endblock head %}
  </head>
  <body class="home blog">
    <div id="page" class="hfeed site">
      <a class="skip-link screen-reader-text" href="#content">{{ _('Saltar al contenido') }}</a>

      <div id="sidebar" class="sidebar">
        <input aria-controls="secondary" id="menu-toggle-cbox" role="button" type="checkbox">
        <header id="masthead" class="site-header">
          <div class="site-branding">
            {%- block logo -%}
              <a href="{{ SITEURL }}/" class="custom-logo-link" rel="home"><img src="/wp-content/uploads/2024/01/luna-freak.png" class="custom-logo" alt="{{ SITENAME }}" srcset="/wp-content/uploads/2024/01/luna-freak-248x248.png 248w, /wp-content/uploads/2024/01/luna-freak-150x150.png 150w" sizes="(max-width: 248px) 100vw, 248px" width="248" height="248"></a>
            {%- endblock -%}
            <p class="site-description">{{ _('Mejor con <i>software</i> libre') }}</p>
            <label class="secondary-toggle" for="menu-toggle-cbox">{{ _('Menú') }}</label>
          </div><!-- .site-branding -->
        </header>
        <div id="secondary" class="secondary">
          {% if DISPLAY_PAGES_ON_MENU %}
            <nav id="site-navigation" class="main-navigation">
              <div class="menu-menu-container">
                <ul id="menu-menu" class="nav-menu">
                  {% for p in pages %}
                    <li class="menu-item menu-item-type-post_type menu-item-object-page{% if p == page %} current-menu-item page_item{% endif %}"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                  {% endfor %}
                  <li class="menu-item menu-item-type-post_type menu-item-object-page{% if output_file == ARCHIVES_SAVE_AS %} current-menu-item page_item{% endif %}"><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">{{ _('Lista de artículos') }}</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page{% if output_file == AUTHORS_SAVE_AS %} current-menu-item page_item{% endif %}"><a href="{{ SITEURL }}/{{ AUTHORS_URL }}">{{ _('Créditos') }}</a></li>
                </ul>
              </div>
            </nav>
          {% endif %}
          <div id="widget-area" class="widget-area" role="complementary">
            <aside class="widget">
              <form action="/buscar.php">
                <input placeholder="{{ _('Buscar ...') }}" type="search" name="q" required>
              </form>
            </aside>
            {% if SHOW_RECENT_POSTS %}
              <aside class="widget widget_recent_entries">
                <h2 class="widget-title">{{ _('Entradas recientes') }}</h2>
                <ul>
                  {% for article in articles[:SHOW_RECENT_POSTS] %}
                    <li class="menu-item {% if output_file == article.save_as %} current-menu-item {% endif %}">
                      <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </aside>
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
            <aside class="widget widget_categories">
              <h2 class="widget-title">{{ _('Categorías') }}</h2>
              <ul>
                {% for cat, articles in categories %}
                  <li class="cat-item {% if output_file == cat.save_as %} current-menu-item {% endif %}">
                    <a href="{{ SITEURL }}/{{ cat.url }}">{{cat}}</a > ({{ articles|length }})
                  </li>
                {% endfor %}
              </ul>
            </aside>
            {% endif %}
            <aside class="widget widget_tag_cloud">
              <h2 class="widget-title">
               <a href="{{ SITEURL}}/{{ TAGS_URL }}">{{ _('Etiquetas') }}</a>
              </h2>
              <div class="tagcloud">
                {% for tag in tag_cloud %}
                  <a class="tag-{{ tag.1 }}" href="{{ SITEURL }}/{{ tag.0.url }}" title="{% if TAG_CLOUD_BADGE %}{{ tag.2 }}{% endif %}">
                    {{ tag.0 }}
                  </a>
                {% endfor %}
              </div>
            </aside>
          </div>
        </div>
      </div><!-- .sidebar -->

      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main">
            {%- block content -%}
              {% for article in articles_page.object_list %}
                {% if article.image %}
                  <article class="has-post-thumbnail post type-post status-publish format-standard hentry">
                  <a class="post-thumbnail" href="{{ SITEURL }}/{{ article.url }}" aria-hidden="true">
                    {{ article.image }}
                  </a>
                {% else %}
                  <article class="post type-post status-publish format-standard hentry">
                {% endif %}
                  <header class="entry-header">
                    <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}#titulo" rel="bookmark" title="{{ _('Enlace a %(articulo)s', articulo=article.title|striptags) }}">{{ article.title }}</a></h2>
                  </header>
                  <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
                  {% include "article_info.html" %}
                </article>
              {% endfor %}
              {% include "pagination.html" %}
            {%- endblock -%}
          </main>
        </div>
      </div><!-- .site-content -->

      <footer id="colophon" class="site-footer">
        <div class="site-info">
            <p><a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/deed.{{ DEFAULT_LANG }}"><img alt="{{ _('Licencia de Creative Commons de dominio público') }}" style="border-width:0" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/creativecommons0_88x31.png" /></a>{{ _('El contenido (textos, imágenes, vídeos, comentarios) de Freak Spot es de dominio público.') }}</p>
          <ul>
            <li><a href="https://notabug.org/Freak-Spot/Freak-Spot">{{ _('Código fuente') }}</a><a href="{{ SITEURL }}/pages/librejs.html" data-jslicense="1" hidden> ({{ _('Licencias de JavaScript') }})</a></li>
            <li><a href="{{ USAGE_POLICY_URL }}">{{ _('Política de uso') }}</a></li>
            <li>
                <a href="http://63xpbju6u6kzge3k5mobwivob2seui4ka26l2iboraw5lxz262brgjad.onion/">{{ _('Servicio oculto de Tor') }}</a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
    {%- block final_scripts -%}
    <script>
    // @license magnet:?xt=urn:btih:1f739d935676111cfff4b4693e3816e664797050&dn=gpl-3.0.txt GPL-3.0

    // If JavaScript is enabled, use JavaScript search engine
    $('form:first').attr('action', '{{ SEARCH_URL }}');

    /* <![CDATA[ */
      var screenReaderText = {'expand':'<span class="screen-reader-text">{{ _('expande el menú inferior') }}</span>','collapse':'<span class="screen-reader-text">{{ _('plegar menú inferior') }}</span>'};
    /* ]]> */
    // @license-end
    </script>
    <script src="{{ SITEURL}}/{{ THEME_STATIC_DIR }}/js/functions.min.js"></script>
    {% if article %}
      {% if article.js %}
        {% for script in article.js %}
          {% if 'bottom' in script[-7:] %}
            {{ script[:-8]|format(SITEURL) }}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
    {%- endblock -%}
  </body>
</html>
