{% extends "base.html" %}

{% block extra_head %}
  <meta name="description" content="{% trans %}Lista de categorías de {{ SITENAME }}.{% endtrans %}">
  <meta name="keywords" content="{{ _('categorías,lista de categorías') }}">
{% endblock %}

{% block title %}{% trans %}Lista de categorías de {{ SITENAME }}{% endtrans %}{% endblock %}

{% block content %}
<article class="page type-page status-publish hentry">
  <header class="entry-header">
    <h1 class="entry-title">{{ _('Lista de categorías') }}</h1>
  </header>
  <div class="entry-content">
    <ul>
      {% for category, articles in categories %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}
