{% if article.tags %}
<span class="tags-links" title="{{ _('Etiquetas') }}">
  <span class="screen-reader-text">{% trans %}Etiquetas{% endtrans %}</span>
    {% for tag in article.tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}" rel="tag" title="{{ _('Artículos con la etiqueta %(etiqueta)s', etiqueta=tag|escape) }}">{{ tag | escape }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
</span>
{% endif %}
